.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2rem);
  font-weight: bold;
  color: white;
}
.header-title {
  margin-bottom: 0px;
  font-size: 72px;
}
 .modal-60w {
  width: 70vw !important; 
  max-width: 70vw !important;
}

.video-mask {
  -webkit-transform: trasnlateZ(0);
  display: flex;
  width: fit-content !important;
  height: fit-content;
  margin-bottom: 3rem;
  margin-top: 2rem !important;
  padding: 0px !important;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 5px 5px rgba(102, 102, 102, 0.1);
}